
    {{!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/addNewCat.css">

{{>passwordCategory_Nav}}
        <h3 style="text-align: right;margin-right:20px;color:red"><img src="/profileImg/{{propic}} " alt="img" style="width: 50px; height:50px;border-radius: 3rem;">Logged as:{{logMob}}</h3> 


  </div>
  
        <div class="addcatInput">
           
            <form method="post" action="/passmanagement/updatecatg">
                <p>Add New Password Category</p>
                {{#if this.errors}}
                    <div style="color: red; margin:5px;font-size:20px; bolder;">
                        <strong>!{{errors.passcat.msg}}</strong>
                   </div>
                {{/if}}
                  {{#if this.success}}
                    <div style="color: blue; margin:5px;font-size:20px; bolder;">
                        <strong>!{{success}}</strong>
                   </div>
                {{/if}}
                <input type="hidden" name="id" value="{{editpass._id}}">
               <label for="User Name">User Name</label>  <input type="text" placeholder="Enter Password Category Name" name="passcat" value="{{editpass.passcatb}}">
               <button type="submit">Add Category</button>
             </form>  

             <a href="#">View All Category List</a>
        </div>
