   
   {{!-- {{>passwordCategory_Nav}} --}}

    <link rel="stylesheet" href="/font/css/font-awesome.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
     

{{>passwordCategory_Nav}}
      <h3 style="text-align: right;margin-right:20px;color:red"><img src="/profileImg/{{propic}} " alt="img" style="width: 50px; height:50px;border-radius: 3rem;">Logged as:{{logMob}}</h3> 


<br>
{{#if this.success}}
  <div style="color:pink; top-margin:30%;font-size:20px; bolder;">
  <strong>!{{success}}</strong>
  </div>
{{/if}} 
<h3><p>Password Category List</p></h3>
<table class="table">
      <thead>
        <tr>
          <th>Password Category Name</th>
          <th>Project Name</th>
          <th>Password Details</th>
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>       
        <tr>
          {{#each getpassdl}}
            <td>{{this.addPassword}}</td>
            <td>{{this.projtname}}</td>
            <td>{{this.editor}}</td>
           
             <td>
               <button type="button" class="btn btn-info btn-lg bttn" data-toggle="modal" data-target="#{{this._id}}"><i class=" fa fa-eye"></i></button>
               <a class ="btn btn-primary  btn-lm"href="/passmanagement/editpass/{{this._id}}"><i class=" fa fa-edit"></i></a>
               <a class ="btn btn-danger  btn-lm"href="/passmanagement/deletepass/{{this._id}}"><i class=" fa fa-trash"></i></a>
            
            </td> 
         
          </tr>
          
          <!-- Modal -->
  <div class="modal fade" id="{{this._id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Password Category Name:-{{this.addPassword}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Project Name:- {{projtname}}</p>
         <p> Password Deatails:-{{editor}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  {{/each}} 
  
      </tbody>
      
    </table>
 <script src="/jq/jquery.min.js"></script>
 <script src="/js/js/bootstrap.min.js"></script> 
   