<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/css/font-awesome.css">

   {{!-- autocomplete --}}
    <script src="jqueryUi/jquery-1.12.4.min.js"type="text/javascript"></script> 
    <link rel="stylesheet" href="jqueryUi/jquery-ui.css">

{{!-- link for bootstrap automatic search   https://datatables.net/examples/styling/bootstrap4 --}}


    <title>Nodejs</title>
</head>
  
  <body>
    
    <div style="margin-bottom: 80px;">
      {{>nav}}
      {{#if this.success}}
  <div class="alert alert-success col-md-2 mt-4">
  <strong>!</strong> {{success}}
  </div>
  {{/if}}
          <h3 style="text-align: right;margin-right:20px;color:red"><img src="/profileImg/{{propic}} " alt="img" style="width: 50px; height:50px;border-radius: 3rem;">Logged as:{{logMob}}</h3> 

    </div>
      <h1>Filter Emplyoee Records</h1>
        <div class="col">
          <form action="/search" id="employeeform" class="form-horizontal" method="post" role="form">
            <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="name" class="col-md-12 control-label">By Name</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" id="searchName" name="fltrname"placeholder="Enter name">
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="email" class="col-md-12 control-label">By Email</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="fltremail"placeholder="Enter Email">
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="mobile" class="col-md-12 control-label">By Mobile</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="fltrmobile"placeholder="Enter Mobile">
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="" class="col-md-12 control-label">&nbsp;</label>
                      <div class="col-md-12">
                         <input type="submit" class="btn btn-primary" name="submit"placeholder="filter">
                      </div>
                  </div>
              </div>
            </div> 
         </form>  
               
  </div>   
      

  
    <table class="table border">
      <thead>
        <tr>
          <th>Profile Img</th>
          <th>Id</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Address</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Password</th>
          <th>Confirm Password</th>
          <th>Date</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody >
        {{#each emprecd }}
        <tr>
          <td ><img src="/profileImg/{{this.profileImg}}" alt="img" style="width: 50px; height:50px"></td>
          <td><a href="/edit/{{this._id}}">{{this._id}}</a></td>
          <td><a href="/edit/{{this._id}}">{{this.name}}</a></td>
          <td><a href="/edit/{{this._id}}">{{this.mobile}}</a></td>
          <td><a href="/edit/{{this._id}}">{{this.email}}</a></td>
          <td><a href="/edit/{{this._id}}">{{this.address}}</a></td> 
          <td><a href="/edit/{{this._id}}">{{this.age}}</a></td> 
          <td><a href="/edit/{{this._id}}">{{this.gender}}</a></td> 
          <td><a href="/edit/{{this._id}}">{{this.password}}</a></td> 
          <td><a href="/edit/{{this._id}}">{{this.cpassword}}</a></td> 
          <td><a href="/edit/{{this._id}}">{{this.date}}</a></td> 

          <td><a class ="btn btn-primary btn-xs"href="/edit/{{this._id}}"><i class=" fa fa-edit"></i></a>
          <a class ="btn btn-danger btn-xs"href="/delete/{{this._id}}"><i class=" fa fa-trash"></i></a></td> 

          </tr>
          {{/each}}
      </tbody>
    </table>
    <br>
    <br>

    <br>

<script>
  $(function(){
    $('#searchName').autocomplete({
      source:function(req,res){
        $.ajax({
          url:"autocomplete/",
          dataType:"jsonp",
          type:"GET",
          data:req,
          success:function(data){
            console.log(data);
            res(data);
          },
          error:function(err){
            console.log(err.status)
          }
        })
      },
      minLenght:1,
      select:function(event,ui){
        if(ui.item){
          $("#searchName").text(ui.item.label);
        }
      }
    })
  })
</script>
    
 <script src="js/js/bootstrap.js" type="text/javascript"></script>
<script src="js/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="jq/jquery.min.js" type="text/javascript"></script>
<script src="jq/jquery.js" type="text/javascript"></script> 


{{!-- autocomplete --}}
 <script src="jqueryUi/jquery-ui.js" ></script> 



</body>
</html>