<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/css/font-awesome.css">

    <title>Nodejs</title>
</head>

<div class="container ">  
  
  <body>
    <div style="margin-bottom: 80px;">
      {{>nav}}
    </div>
      <h1>Filter Emplyoee Records</h1>
        <div class="col">
          <form action="/search" id="employeeform" class="form-horizontal" method="post" role="form">
            <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="name" class="col-md-12 control-label">By Name</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="fltrname"placeholder="Enter name">
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="email" class="col-md-12 control-label">By Email</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="fltremail"placeholder="Enter Email">
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="mobile" class="col-md-12 control-label">By Mobile</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="fltrmobile"placeholder="Enter Mobile">
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="" class="col-md-12 control-label">&nbsp;</label>
                      <div class="col-md-12">
                         <input type="submit" class="btn btn-primary" name="submit"placeholder="filter">
                      </div>
                  </div>
              </div>
            </div> 
         </form>  
               
  </div>   
      

  
    <table class="table border">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Address</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Password</th>
          <th>Confirm Password</th>
          <th>Date</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody >
        {{#each emprecd }}
        <tr>
          <td>{{this._id}}</td>
           <td>{{this.name}}</td>
          <td>{{this.mobile}}</td>
          <td>{{this.email}}</td>
          <td>{{this.address}}</td> 
          <td>{{this.age}}</td> 
          <td>{{this.gender}}</td> 
          <td>{{this.password}}</td> 
          <td>{{this.cpassword}}</td> 
          <td>{{this.date}}</td> 

          <td><a class ="btn btn-primary btn-xs"href="/edit/{{this._id}}"><i class=" fa fa-edit"></i></a>
          <a class ="btn btn-danger btn-xs"href="/delete/{{this._id}}"><i class=" fa fa-trash"></i></a></td> 

          </tr>
          {{/each}}
      </tbody>
    </table>
    <br>
    <br>

    <br>

    
 <script src="js/js/bootstrap.js" type="text/javascript"></script>
<script src="js/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="jq/jquery.min.js" type="text/javascript"></script>
<script src="jq/jquery.js" type="text/javascript"></script> 

</div>

 </div>
</body>
</html>