<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
       <link rel="stylesheet" href="/css/style.css">



    <title>passManage</title>
</head>
<body>
  {{>nav}}
     <h3 style="text-align: right;margin-right:20px;color:red">Logged as:{{logMob}}</h3> 

  <div class="logout"><a href="logout"><button>Logout</button></a></div>
    <table class="table border">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Address</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Password</th>
          <th>Confirm Password</th>
          <th>Date</th>
          <th>Action</th>

        </tr>
      </thead>
        <tbody>
             {{#each emprecd}}
            <tr>
          <td>{{this._id}}</td>
           <td>{{this.name}}</td>
          <td>{{this.mobile}}</td>
          <td>{{this.email}}</td>
          <td>{{this.address}}</td> 
          <td>{{this.age}}</td> 
          <td>{{this.gender}}</td> 
          <td>{{this.password}}</td> 
          <td>{{this.cpassword}}</td> 
          <td>{{this.date}}</td> 
                
            </tr>
           {{/each}}
        </tbody>
    </table>
</body>
</html>