
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/addNewCat.css">
    <script type="text/javascript" src="/ckedit/ckeditor.js"></script>
<script type="text/javascript" src="/ckedit/adapters/jquery.js"></script>


<div style="text-align: right; margin:1% 15% 1% 0% ; color:blue">Logged as :{{logMob}}  </div>

    <div class="nav">
    <ul>
      <li style="font-size: larger; color:red; font-weight:bold;">Password Management System</li>
      <li>  <a href="dashboard">Home</a></li>
      <li>  <a href="#"> Password Category</a>
          <ul id="cat">
            <li><a href="AddNewCategory">Add New Category</a></li>
            <li><a href="passManagement">View All Catogory</a></li>

          </ul>
      </li>
      <li>  <a href="#"> Password Details</a>
         <ul id="pass">
            <li><a href="Add-New-Password">Add New Password</a></li>
            <li><a href="View-All-Password">View All Password</a></li>

          </ul>
      </li>  
      <li>  <a href="login2">Login</a></li>
      <li>  <a href="logout2">Logout</a></li>

    </ul>

  </div>

       </div>
                
        <div class="addPss">
           {{#if this.success}}
                    <div style="color:pink; top-margin:30%;font-size:20px; bolder;">
                        <strong>!{{success}}</strong>
                   </div>
                   {{/if}} 
            <form method="POST" action="/users/updateckeditpass">
                <p>Add New Password</p>
               <label for="User Name">User Name</label>
                <select class="selectpass" name="addPassword" id="addPassword">
                    
                        {{#each data}}
                         <option value="{{this.passcatb }}">{{this.passcatb }}</option>
                         {{/each}}
                </select>
                <input type="hidden"  name="id"value="{{this._id}}">

                <label for="proj"id="paslabel">Project Name</label>
                <input type="text" class="projname" name="projtname" value="{{editpas.projtname}}">
                <label id="passlabel" for="Pass_details">Password Details</label>
                <div class="txt">
                  <textarea  rows="5"placeholder="Enter Your Password Details" id="editor" name='editor'>{{editpas.editor}}</textarea>
                </div>
               <button type="submit">Update Details</button>
             </form>  

             <a href="#">View All Password List</a>
        </div>
        <br>
        <br>
        <br>
<script>
   CKEDITOR.replace( 'editor' );
 </script>