<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/css/font-awesome.css">

    <title>{{title}}</title>
</head>
<body>
     <h3 style="text-align: right;margin-right:20px;color:red"><img src="/profileImg/{{propic}} " alt="img" style="width: 50px; height:50px;border-radius: 3rem;">Logged as:{{logMob}}</h3> 

     {{#if this.success}}
  <div class="alert alert-success mt-4">
  <strong>Success!</strong> {{success}}
  </div>
  {{/if}}
    <form action="/users/upload" method="post" role="form" enctype="multipart/form-data" class="mt-5">
        
        
            <div class="row">
                <div class="col-md-2">
                    <label for="file" class=" form-label text-primary">upload File/image</label>
                </div>
                <div class="col-md-3">
                    <input type="file" class="form-control"name="file">
                </div>
                <div class=" bg-primary col-md-3">
                    <button  type="submit" class="btn btn-primary"value="">upload</button>
                </div>
            </div>
            
    </form>
    <hr style="border-top: 1px solid blue;">
    <div class="container mt-7">
        <div class="row">
            <div class="table ">
               
                   <tr>
                       <td {{#each dspImg}}>
                        <img src="/upld/{{this.file}}" alt="img" style="width: 30%;height:40%">
                        </td>
                   </tr>
               {{/each}}
        </div>
       </div> 
    </div>   
    </body>

</html>